@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.woff);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff), url(../fonts/Poppins-SemiBold.woff), url(../fonts/Poppins-Bold.woff), url(../fonts/Poppins-Medium.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main--color: #316499;
    --heading--colors: #000000;
    --description-colors: #828282;
    --section-colors: rgba(49, 100, 153, 0.1);
    --most--color: #156ED7;
    --list-item-borders: #BDBDBD;
}

.container {
    width: 1720px;
    margin: auto;
}







/* --------------------- Header Part ------------------- */






.intro {
    padding-top: 49px;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    padding-bottom: 47px;
    z-index: 1;
}

.intro__logo-part {
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

.Golden-house-logo-slogan {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--heading--colors)
}

.intro__menu {
    display: flex;
    align-items: center;
}

.intro___menu__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 487px;
    margin-left: 375px;
}

.intro__menu__list-item:hover .intro__menu__list-item__link {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: var(--main--color);
}

.intro__menu__list-item__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--heading--colors);
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.Contact-us-link {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: var(--main--color);
    padding: 10px 0px 10px 10px;
    gap: 10px;
    text-decoration: none;
    margin-left: 393px;
    width: 182px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--main--color);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.Contact-us-link:hover {
    color: var(--most--color);
    background: #FFFFFF;
    border: 5px solid var(--main--color);
}

.Contact-us-link:active {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: var(--main--color);
    padding: 10px 0px 10px 10px;
    gap: 10px;
    text-decoration: none;
    margin-left: 393px;
    width: 182px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--main--color);
}






/* --------------------- First Section ------------------- */






.hero-section {
    padding-top: 87px;
    margin-top: 47px;
    padding-bottom: 63px;
    background-color: var(--section-colors);
    margin-bottom: 132px;
}

.hero-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    color: var(--heading--colors);
    width: 643px;
}

.hero-section__contents__description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--description-colors);
    width: 589px;
}

.hero-section__contents__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    flex: none;
    flex-grow: 0;
    text-decoration: none;
    padding: 16px 20px;
    gap: 10px;
    background-color: var(--main--color);
    width: 186px;
    margin-top: 70px;
    border: 3px solid var(--main--color);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.hero-section__contents__link:hover {
    background: #FFFFFF;
    color: var(--most--color);
    border: 3px solid #156ED7;
}

.hero-section__contents__link:active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    flex: none;
    flex-grow: 0;
    text-decoration: none;
    padding: 16px 20px;
    gap: 10px;
    background-color: var(--main--color);
    width: 186px;
    margin-top: 70px;
    border: 3px solid var(--main--color);
}








/* --------------------- Services Section ------------------- */





.services-section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main--color);
    margin-bottom: 87px;
}

.services__menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.services__menu-item {
    background: #FFFFFF;
    border: 1px solid var(--list-item-borders);
    width: 550px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 53px 0 47px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.services__menu-item:hover {
    background-color: #EBEBEB;
    box-shadow: 2px 2px 20px 2px var(--heading--colors);
}
.logo-part {
    border: 3px solid var(--main--color);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: auto;
}

.services__menu-item-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: var(--heading--colors);
    margin-top: 40px;
    margin-bottom: 15px;
}

.services__menu-item-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: var(--description-colors);
    margin-bottom: 15px;
}

.services__menu-item-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--main--color);
    width: 186px;
    display: block;
    margin: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.services__menu-item-link:hover {
    color: var(--most--color);
}

.services__menu-item-link:active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--main--color);
    width: 186px;
    display: block;
    margin: auto;
}








/* --------------------- New-Listed-Properties-section ------------------- */




.New-Listed-Properties-section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: var(--main--color);
    margin-top: 218px;
    text-align: center;
    margin-bottom: 87px;
}

.New-Listed-Properties-section__card-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.New-Listed-Properties-section__card-item {
    padding: 20px 25px 32px 25px;
    background-color: #FFFFFF;
    border: 1px solid var(--list-item-borders);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.New-Listed-Properties-section__card-item:hover {
    background-color: #EBEBEB;
}

.Location-part {
    margin: 39.5px 0 86px 0;
    display: flex;
    width: 376px;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
}

.location-part-main {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--heading--colors);
    position: relative;
}

.card-item__contents-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-part-link {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--main--color);
}

.location-part-link:hover {
    color: var(--most--color);
}

.location-part-link:active {
    color: var(--main--color);
}

.card-item__contents-bottom img {
    padding-right: 10.33px;
    cursor: pointer;
}

.see-all-locations {
    display: block;
    text-align: center;
    border: 2px solid var(--main--color);
    border-radius: 60px;
    width: 300px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 218px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #2A5B8E;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.see-all-locations:hover {
    color: #FFFFFF;
    background-color: var(--main--color);
}

.see-all-locations:active {
    color: #2A5B8E;
    border: 2px solid var(--main--color);
    background-color: #FFFFFF;
}








/* --------------------- Blog-section ------------------- */





.our-blog-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.our-blog-list-item {
    width: 700px;
    background: #FFFFFF;
    border: 3px solid #CACACA;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.our-blog-list-item :hover {
    background-color: #EBEBEB;
}


.our-blog-section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: var(--main--color);
    text-align: center;
    margin-bottom: 87px;
}

.blog-section-contents {
    padding: 59px 65px 65px 60px;
}

.blog-section-heading {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 27px;
}

.blog-section-date {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--description-colors);
    margin-bottom: 27px;
}

.blog-section-description {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--description-colors);
    margin-bottom: 27px;
}

.blog-section-link {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--main--color);
}

.blog-section-link:hover {
    color: var(--most--color);
}

.blog-section-link:active {
    color: var(--main--color);
}








/* --------------------- Testmonials-section -----------------*/

.Clients-testmonials-section {
    padding-top: 218px;
}

.tesmonials-heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: var(--main--color);
    text-align: center;
    margin-bottom: 88px;
}

.testmonials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testmonials-item {
    display: flex;
    flex-direction: column;
    background: #F9FAFC;
    width: 550px;
    padding-top: 57px;
    padding-bottom: 29px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.testmonials-item:hover {
    background-color: #EBEBEB;
}

.full-name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--heading--colors);
    opacity: 0.7;
    margin-top: 40px;
}

.job {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--description-colors);
    opacity: 0.7;
    margin-bottom: 7px;
}

.star-wrapper {
    width: 162.28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testmonials-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: var(--description-colors);
    opacity: 0.7;
    width: 442.77px;
    margin-top: 41px;
}





/* --------------------- Footer-Part -----------------*/



.footer-part {
    margin-top: 110px;
    padding-top: 131px;
    padding-bottom: 147px;
    background-color: var(--main--color);
}

.footer-part .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-heading {
    text-decoration: none;
    width: 285px;
}

.footer-heading:hover h2 {
    color: var(--list-item-borders)
}

.footer-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    width: 1255px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.footer-list-item-heading {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.footer-list-item-inline {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.footer-part__list-item {
    margin-bottom: 15px;
}

.footer-part__list-item-link {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-part__list-item:hover {
    color: var(--description-colors);
}

.footer-list-item:nth-child(3) .footer-list-item-inline .footer-part__list-item {
    width: 369px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.footer-list-item:nth-child(3) .footer-list-item-inline .footer-part__list-item img {
    margin-top: 11px;
    margin-right: 24px;
}

.footer-list-item:nth-child(3) .footer-list-item-inline .footer-part__list-item .footer-part__list-item-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-part__list-item-link:hover {
    color: var(--description-colors);
}

.footer-part__list-item-link:hover img {
    filter: invert(0.5) sepia(1);
    -webkit-filter: invert(0.5) sepia(1);
}